/* Om de vlakken in een grid te zetten */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 45em;
}

/* Standaard wat hoogte en breedte op de divs en een border */
div {
  width: 15em;
  height: 15em;
  border: 0.2em solid black;
}

/* 👇 Schrijf hieronder je eigen CSS*/

.vlak-1 {
  background: red;
  height: 5em;
  width: 22%;
}

.vlak-2 {
  background: white;
  height: 5em;
  width: 67%;
}

.vlak-3 {
  background: blue;
  height: 5em;
  width: 11%;
}

.vlak-4 {
  background: white;
  width: 22%;
}

.vlak-5 {
  background: yellow;
  width: 34%; 
}

.vlak-6 {
  background: white;
  width: 44%;
}

.vlak-7 {
  background: black;
  width: 22%;
  height: 10vh;
}

.vlak-8 {
  background: white;
  height: 10vh;
  width: 34%;
}

.vlak-9 {
  background: white;
  height: 10vh;
  width: 44%;
}